.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    overflow: auto;
    background-color: #f6f6f6;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

#fader {
    background-color: #42f4ce;
    border: solid 1px #c3c3c3;
    text-align: center;
    padding: 5px;
}

#soundForm {
    width:40%;
}
